
// ハンバーガーアイコンクリック
.rotate-top {
    transform: rotate(-45deg);
    background: #fff;
}
.rotate-middle {
    // transform: translateX(30px);
    opacity: 0;
}
.rotate-bottom {
    transform: rotate(45deg);
    background: #fff;
}

// ハンバーガーメニュークリック表示
.nav-active {
    transform: translateX(0);
}